*{
margin: 0%;
padding: 0%;
}
body {
background: #313d52;
}
p {
margin: 20px;
font-family: Arial, Helvetica, sans-serif;
font-weight: 300;
color: #fff;
}
.im {
float: left;
}
h1 {
font-family: Arial, Helvetica, sans-serif;
padding: 30px;
font-size: 30px;
text-align: center;
}
.sensor {
display: flex;
justify-content: center;
align-items: center;
height: 200vh;
}
.sensor1 {
display: none;
}
@media screen and (max-width:700px) {
h1 {
font-size: 20px;
}
.sensor {
display: none;
}
.sensor1 {
display: block;
}
.pir {
margin: 2%;
}
}
